body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.maindiv {
    text-align: center;
    padding: 50px;
}

.h1text {
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#start {
    background-color: #4CAF50; /* Green */
    color: white;
}

#stop {
    background-color: #f44336; /* Red */
    color: white;
}
